* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  font-family: "Roboto", sans-serif;
}

/* ************************************ */

/* ****** End of Boiler-Plate ********** */
/* *************************************** */

/* ************************************* */
/* ***** Color Palette ***************** */
/* rgb(254, 253, 237) */
/* rgb(198, 235, 197) */
/* rgb(161, 195, 152) */
/* rgb(250, 112, 112) */
/* rgb(34, 40, 49) */
/* rgb(49, 54, 63) */
/* rgb(118, 171, 174) */
/* rgb(238, 238, 238) */
/* rgb(254, 185, 65) */
/* rgb(221, 118, 28) */
/* rgb(253, 228, 158) */

/* ************************************** */
/* ************************************** */

/* ***** Styling starts from here ****** */

/* ************************************* */
/* ***** Creating the grid layout ****** */

.dashboard {
  display: grid;
  grid-template-columns: 0.7fr 3fr;
}

.sidebar {
  background-color: aquamarine;
  grid-column: 1/2;
}
.section {
  background-color: rgb(161, 195, 152);
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
}

.header {
  background-color: rgb(250, 112, 112);
}
.projects {
  background-color: rgb(161, 195, 152);
}

/* Layout Completion */
/* ********************************* */
/* ********************************* */

/* ********************************* */
/* Creating the dashboard design */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3rem;
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.logo-img {
  width: 15%;
  background-color: azure;
  border-radius: 0.2rem;
}

.dashboard-title {
  font-size: 1.2rem;
  color: #000;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.home,
.profile-people,
.message,
.history,
.task,
.communities {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.profile h3 {
  font-size: 1.2rem;
  color: #000;
}

.profile img {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.settings {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.setting,
.privacy,
.support {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.settings img {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.settings h3 {
  font-size: 1.2rem;
  color: #000;
}

/* *********************************** */
/* ************************************ */
/* **** End of sidebar ******* */

/* ************************************** */
/* ************************************** */

/* Styling of the header section */
.top-header {
  /* border: 1px solid green; */
}

.top-header img {
  border-radius: 5rem;
  width: 3%;
  padding: 0.5rem;
  background-color: rgb(254, 185, 65);
}

.profile-pic {
  border: 1px solid goldenrod;
  width: 10%;
}
.profile-pic {
  width: 8%;
}

.top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.top-header input {
  border: none;
  width: 40%;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.top-header input:focus {
  outline: none;
}

.top-header h3 {
  font-size: 2rem;
  color: rgb(238, 238, 238);
  text-transform: uppercase;
}
