* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  font-family: "Roboto", sans-serif;
}

/* ************************************ */

/* ****** End of Boiler-Plate ********** */
/* *************************************** */

/* ************************************* */
/* ***** Color Palette ***************** */
/* rgb(254, 253, 237) */
/* rgb(198, 235, 197) */
/* rgb(161, 195, 152) */
/* rgb(250, 112, 112) */
/* rgb(34, 40, 49) */
/* rgb(49, 54, 63) */
/* rgb(118, 171, 174) */
/* rgb(238, 238, 238) */
/* rgb(254, 185, 65) */
/* rgb(221, 118, 28) */
/* rgb(253, 228, 158) */

/* ************************************** */
/* ************************************** */

/* ***** Styling starts from here ****** */

/* ************************************* */
/* ***** Creating the grid layout ****** */

.dashboard {
  display: grid;
  grid-template-columns: 0.7fr 3fr;
}

.sidebar {
  background-color: aquamarine;
  grid-column: 1/2;
}
.section {
  background-color: rgb(161, 195, 152);
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
}

.header {
  background-color: rgb(250, 112, 112);
  height: 70%;
}

/* Layout Completion */
/* ********************************* */
/* ********************************* */

/* ********************************* */
/* Creating the dashboard design */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3rem;
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.logo-img {
  width: 15%;
  background-color: azure;
  border-radius: 0.2rem;
}

.dashboard-title {
  font-size: 1.2rem;
  color: #000;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.home,
.profile-people,
.message,
.history,
.task,
.communities {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.profile h3 {
  font-size: 1.2rem;
  color: #000;
}

.profile img {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.settings {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.setting,
.privacy,
.support {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.settings img {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.settings h3 {
  font-size: 1.2rem;
  color: #000;
}

/* *********************************** */
/* ************************************ */
/* **** End of sidebar ******* */

/* ************************************** */
/* ************************************** */

/* Styling of the header section */

.top-header img {
  border-radius: 5rem;
  width: 3%;
  padding: 0.5rem;
  background-color: rgb(254, 185, 65);
}

.profile-pic {
  border: 1px solid goldenrod;
  width: 10%;
}
.profile-pic {
  width: 8%;
}

.top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.top-header input {
  border: none;
  width: 40%;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.top-header input:focus {
  outline: none;
}

.top-header h3 {
  font-size: 2rem;
  color: rgb(238, 238, 238);
  text-transform: uppercase;
}

.bottom-header img {
  width: 5%;
  background-color: rgb(254, 185, 65);
  border-radius: 5rem;
  padding: 0.5rem;
}

.bottom-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.left-section {
  /* margin-left: 5rem; */
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.welcome h4,
h2 {
  color: antiquewhite;
  word-spacing: 0.5rem;
}

.welcome h4 {
  font-size: 1rem;
}
.welcome h2 {
  font-size: 2rem;
}

.feature-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.feature-btns button {
  background-color: rgb(118, 171, 174);
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  color: antiquewhite;
  cursor: pointer;
}

.feature-btns button:hover {
  background-color: antiquewhite;
  color: rgb(118, 171, 174);
  border: 1px solid rgb(118, 171, 174);
}

/* ************************************** */
/* ************************************** */
/* ************************************** */
/* ************************************** */

/* END OF HEADER SECTION  */

/* ********************************** */
/* ********************************** */

/* Start of Projects section */

.projects {
  margin-top: 0;
  padding: 2rem;
}

.project-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.projects h2 {
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.project-container {
  margin-top: 2rem;
}

.grid {
  background-color: antiquewhite;
  border-radius: 1rem;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-features {
  text-align: right;
}

.project-features img {
  margin-left: 1rem;
  width: 10%;
  background-color: rgb(254, 185, 65);
  padding: 0.8rem;
  border-radius: 1rem;
}

.grid h3 {
  font-size: 1.5rem;
  color: salmon;
}

.grid p {
  font-size: 1.5rem;
  color: salmon;
}

.project-layout {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 4rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.announcment {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 4rem;
}

.announcment {
  margin-top: 2rem;
}

.announcment h3 {
  font-size: 1.5rem;
  color: salmon;
}

.announcment p {
  font-size: 1.2rem;
  color: salmon;
}

.trending-title {
  margin-top: 1rem;
}

.trending {
  margin-top: 4rem;
  background-color: antiquewhite;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 70%;
}

.trending .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.trending img {
  width: 15%;
  background-color: rgb(250, 112, 112);
  border-radius: 1rem;
  padding: 0.5rem;
}

.trending p {
  font-size: 1.5rem;
  color: salmon;
}
